/* CheckoutPage.css */

/* General page styling */
.checkout-page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Heading */
h1 {
  font-size: 2rem;
  color: #28a745;
  margin-bottom: 20px;
}

/* Bill summary styling */
.bill-summary {
  margin-top: 30px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.bill-summary h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Order items styling */
.order-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.order-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.order-item-details {
  flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

.order-item-details h3 {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.order-item-details p {
  font-size: 0.9rem;
  color: #666;
}

.total-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

/* Confirmation message */
.confirmation-message {
  margin-top: 30px;
  background-color: #e1f7e1;
  padding: 20px;
  border-radius: 8px;
}

.confirmation-message p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

/* Back to home button */
.back-to-home-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-home-button:hover {
  background-color: #0056b3;
}

.place-order-button {
  background-color: #28a745;
  color: white;
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.place-order-button:hover {
  background-color: #218838; /* Darker green on hover */
  transform: translateY(-3px); /* Slight lift effect */
}

.place-order-button:active {
  background-color: #1e7e34; /* Even darker green when clicked */
  transform: translateY(0); /* Reset the lift effect */
}

.place-order-button:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(40, 167, 69, 0.5); /* Green glow when focused */
}
